@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rich-text h2 {
    @apply mb-3 text-2xl font-semibold text-neutral-900 dark:text-sun;
  }

  .rich-text h3 {
    @apply mb-3 text-xl font-semibold text-neutral-900 dark:text-sun;
  }
  .rich-text h4 {
    @apply mb-3 text-lg font-semibold text-neutral-900 dark:text-sun;
  }

  .rich-text p {
    @apply mb-3 leading-snug text-neutral-700 dark:text-white;
  }
   .rich-text strong {
    @apply mb-3 leading-snug text-neutral-900 font-bold dark:text-sun;
  }
  code {
    display: block;
    font-weight: 400;
    text-align: left;
    line-height: 1.6em;
    white-space: break-spaces;
    padding: 1em 2%;
    
    border-radius: 0.25em;
    background-color: #14213D;
    color: rgb(255, 255, 255);
    margin: 1% 0
  }
}